/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #E6E1E6;
}
.container {
    background-color: white;
    border-radius: .8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 200px;

}

#root {
    max-width: 60vw;
    margin: 10vh auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.add-todo {
    width: 100%;
    padding: 1.4rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
   
    border-bottom: 1px solid #E6E1E6;
    
}

.add-input {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.add-message {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    font-size: .8rem;
}

.todo-holder {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.todo-list {
    list-style: none;
    width: 50vw;
    padding: 2rem;
}

.todo-item {
    
    width: 100%;
    line-height: 3;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(222, 222, 222) ;
}

.radio-btn {
    width: 17px;
    height: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(210, 210, 210);
    border-radius: 360%;
    padding: 2px; 
    cursor: pointer; 
}

.radio-btn-selected {
    border: 1px solid #1462FF;
}

.inner-radio {
    width: 15px;
    height: 11px;
    border-radius: 360%;
}

.inner-radio-selected {
    background-color: #1462FF;
}

.todo {
    cursor: pointer;
}

#todo-name, .btn-aggiungi {
    padding: .4rem 1rem;
    border-radius: 8px;
    border: 1px solid grey;
    
}
.btn-aggiungi {
    border: none;
    color: white;
    background-color: #1462FF;
    cursor: pointer;
}

.todo-done {
    text-decoration: line-through;
}

.delete-todo {
    margin-right: 5px;
    font-weight: 500;
    padding: .2rem .4rem;
    border: none;
    font-size: 1.2rem;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid transparent;
}

.delete-todo:hover {
    border: 1px solid grey;
    border-radius: 8px;
}

.error {
    color: red;
}

.complete {
    color: green;
}
