/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

#root {
    max-width: 60vw;
    margin: 10vh auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.add-todo {
    max-width: 30vw;
    
}

.todo-list {
    background-color: #f4f4f4;
    margin-top: 2rem;
    list-style: none;
    width: 50vw;
    border-radius: .8rem;
    padding: 2rem;
    
   

}

.todo-item {
    width: 100%;
    line-height: 3;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(192, 192, 192) ;
}

#todo-name, .btn-aggiungi {
    padding: .4rem 1rem;
    border-radius: 8px;
    border: 1px solid grey;
    
}

.todo-done {
    text-decoration: line-through;
}

.delete-todo {
    margin-right: 5px;
    font-weight: 500;
    padding: .2rem .4rem;
    border: none;
    font-size: 1.2rem;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid transparent;
}

.delete-todo:hover {
    border: 1px solid grey;
    border-radius: 8px;
}
